.Rproj.user
.Rhistory
.RData
.Ruserdata
**/rdata
NationalFile_20180201.txt
New_Lake_ID_Crosswalk_ETL_cache
LAGOS_Lake_Link_Creation_cache
LAGOS_Lake_Link_v0.csv
LAGOS_Lake_Link_Demo.html
LAGOS_Lake_Link_Demo.nb.html
